name: Build VuePress
on: [push]
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: vuepress-deploy
      uses: IT4Change/vuepress-build-and-deploy@master
      env:
        ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        TARGET_REPO: The-OAG-Development-Project/The-OAG-Development-Project.github.io
        TARGET_BRANCH: main
        BUILD_SCRIPT: cd www && yarn && yarn docs:build
        BUILD_DIR: docs/.vuepress/dist
